# Nano text-editor configuration.

# OPTIONS

# set magic
# set minibar
set historylog
set autoindent
set linenumbers
set mouse
# set noconvert
# set nohelp
set unix
set softwrap
set tabsize 4
set tabstospaces

# COLOR SCHEMES

set functioncolor white
set keycolor yellow
set numbercolor white
set statuscolor red
set stripecolor black
set titlecolor black,green

# SYNTAX HIGHLIGHTING

include "/usr/share/nano/*nanorc"
